table { border: 1px solid black; 
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 350px; 
    /* margin: auto; */
    } 

td {
     border: 1px solid black;
    } 
    .container{
        height: 100vh;
        display: grid;
        align-content: center;
        justify-content: center;
     }


